// main: style.less

// NAV GROUP ----------------------------------------------------------------------

.navGroup{
  box-shadow: 2px 0 5px @colorLightGray;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 960px){
  .navGroup{
    margin-bottom: 1.5rem;
  }
}


// NAV GLOBAL ----------------------------------------------------------------------

.navGlobal{
  list-style: none;
  margin: 0;
  padding: 0;
  .mixContainer();
  line-height: 30px;
  height: 30px;
  overflow: hidden;

  &__listItem{
    float: left;
    margin-right: 15px;
  }

  &__link{
    text-decoration: none;
  }
}


// NAV LOCAL ----------------------------------------------------------------------

.navLocal{
  list-style: none;
  margin: 0;
  padding: 0;
  .mixContainer();
  height: 60px;
  background: #fff;
  overflow: hidden;

  &__listItem{
    float: left;
    margin-right: 15px;

    &:last-child{
      float: right;
      margin-left: 0;
    }

    &__link{
      text-decoration: none;
    }
  }
}
